.box {
  width: 30%;
  margin-top: 5%;
  margin-left: 5%;
  height: auto;
  margin-right: 3%;


}

.main {
  display: inline;
}

.item {
  cursor: pointer;
}

.li {
  text-decoration: none;
}

.maincontainer {
  display: flex;
}

.up-btn-wrap.wrap-flex {
  margin-top: 10%;
  margin-right: 3%;
}

.box.btn-wrapper {
  margin-top: 14%;
  text-align: center
}